@model CandyShop.Application.ViewModels.PagamentoViewModel
@{
    Layout = null;
}

<!--plugin para campos monetários-->
<script type="text/javascript" src="~/Js/plugins/jquery.maskMoney.js"></script>
<script type="text/javascript" src="~/Js/Pagamento/scriptEditarPagamento.js?d=@DateTime.Now.Ticks"></script>


<div class="container">
    <div class="row ajuste">
        <div class="col s12">
            <div class="row">
                <div class="center">
                    <h2 class="center" style="font-weight: bold">Editar Pagamento</h2>
                </div>
            </div>
            <input type="hidden" id="IdPagamento" value="@Model.IdPagamento" />

            <div class="row">
                <div class="input-field col s6">
                    <input id="Cpf" name="Cpf" type="text" class="validate " required="" value="@Model.Usuario.Cpf" disabled>
                    <label class="active" for="Cpf">Cpf:</label>
                </div>
                <div class="input-field col s6">
                    <input id="Nome" name="Nome" type="text" class="validate " required="" value="@Model.Usuario.NomeUsuario" disabled>
                    <label class="active" for="Nome">Nome:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="valorPago" name="valorPago" maxlength="9" type="text" class="validate " required onkeydown="return FilterInput(event)" onpaste="handlePaste(event)" value="@Model.ValorPagamento">
                    <label class="active" for="valorPago">Valor:</label>
                </div>
                <div class="input-field col s6">
                    <input id="DataPagamento" name="DataPagamento" type="datetime" class="validate " required="" value="@Model.DataPagamento" disabled>
                    <label class="active" for="Nome">DataPagamento:</label>
                </div>
            </div>
            <div class="row center">
                <a class="waves-effect waves-light btn-large" onclick="@ViewBag.endereco"><i class="material-icons left">arrow_back</i>Voltar</a>
                <a id="confirmarPagamento" class="waves-effect waves-light btn-large" onclick="AjaxJsPagamento.concluirEdicaoPagamento(@ViewBag.enderecoConclusao)"><i class="material-icons left">add_circle</i>Confirmar</a>
            </div>
        </div>
    </div>
</div>


