@model CandyShop.Application.ViewModels.Usuario

@{
    Layout = null;
}

<style>
    .corpo, hr {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        text-align: left;
    }

    .corpo {
        margin-left: -14%;
    }

    dd {
        margin-left: 33%;
        margin-top: -5%;
    }

    dt {
        color: black;
    }

    .batata {
        margin-left: -1%;
    }
</style>

<div class="corpo left">
    <div class="col s12">
        <h4 class="batata">Tem certeza que deseja desativar este usuário?</h4>
        <div class="left">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    CPF:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cpf)
                </dd>

                <dt>
                    Nome:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NomeUsuario)
                </dd>

                <dt>
                    Saldo:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SaldoUsuario)
                </dd>

                <dt>
                    Status:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ativo)
                </dd>

            </dl>
            <div class="row" , align="center">
                <a class="waves-effect waves-light btn-large" onclick="AjaxJs.listaUsuario()"><i class="material-icons left">arrow_back</i>Voltar</a>
                <a class="waves-effect waves-light btn-large" onclick="AjaxJs.desativarUsuarioConfirmado('@Model.Cpf')"><i class="material-icons left">delete</i>Excluir</a>
            </div>

        </div>
    </div>
</div>
