@model CandyShop.Application.ViewModels.UsuarioViewModel

@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="../../Content/Usuario/detalhesUsuario.css"/>

<div class="corpo left">
    <h4><font color="vinho">Detalhes do usuário :</font></h4>
    <hr />
    <div class="col s12">
        <dl class="dl-horizontal">
            <dt>
                @{ string caminho = @Model.Cpf + ".jpg";}
                <img src="../../Imagens/@caminho"/>
            </dt>

            <dt>
                Nome
            </dt>

            <dd>
                @Model.NomeUsuario
            </dd>

            <dt>
                CPF
            </dt>

            <dd>
                @Model.Cpf
            </dd>

            <dt>
                Saldo do usuário
            </dt>

            <dd>
                R$ @Model.SaldoUsuario
            </dd>
            
            <dt>
                Status do Usuario
            </dt>

            <dd>
                @Model.Ativo
            </dd>
        </dl>

        <a class="waves-effect waves-light btn" onclick="AjaxJs.listaUsuario()"><i class="material-icons left">arrow_back</i>Voltar</a>
    </div>
</div>