@model IEnumerable<CandyShop.Application.ViewModels.UsuarioViewModel>

@{
    Layout = null;
}

<div class="col s12 recuaTabela">
    <table class="bordered">
        <tr>
            <th>
                CPF
            </th>
            <th>
                Nome
            </th>
            <th>
                Saldo
            </th>
            <th></th>
        </tr>

        @foreach (var usuario in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => usuario.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.NomeUsuario)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => usuario.SaldoUsuario)
                </td>
                <td>
                    <a class="btn-floating waves-effect waves-light brown" onclick="AjaxJs.detalheUsuario('@usuario.Cpf');"><i class="material-icons">info_outline</i></a>
                </td>
                <td>
                    <a class="btn-floating waves-effect waves-light orange" onclick="AjaxJs.editarUsuario('@usuario.Cpf');"><i class="material-icons">edit</i></a>
                </td>
                <td>
                    <a class="btn-floating waves-effect waves-light red" onclick="AjaxJs.desativarUsuario('@usuario.Cpf');"><i class="material-icons">remove_shopping_cart</i></a>
                </td>
            </tr>
        }
    </table>

    <div class="gridCelular">
        <ul class="collapsible" data-collapsible="accordion">
            @foreach (var usuario in Model)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">account_circle</i>@usuario.NomeUsuario
                    </div>
                    <div class="collapsible-body">
                        <span>CPF : @usuario.Cpf</span>
                        <br />
                        <span>Saldo : R$ @usuario.SaldoUsuario</span>
                        <br /><br />
                        <a class="btn-floating waves-effect waves-light brown" onclick="AjaxJs.detalheUsuario('@usuario.Cpf');"><i class="material-icons">info_outline</i></a>
                        <a class="btn-floating waves-effect waves-light orange" onclick="AjaxJs.editarUsuario('@usuario.Cpf');"><i class="material-icons">edit</i></a>
                        <a class="btn-floating waves-effect waves-light red" onclick="AjaxJs.desativarUsuario('@usuario.Cpf');"><i class="material-icons">remove_shopping_cart</i></a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

