@model IEnumerable<CandyShop.Application.ViewModels.UsuarioViewModel>

@{
    Layout = null;
}

<style>
    body {
        overflow-y: auto;
    }
</style>

<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();

        $('.cpf').each(function () {
            $(this).html(mcpf($(this).html()));
        });
    });

    function mcpf(v) {
        v = v.replace(/\D/g, "");
        v = v.replace(/(\d{3})(\d)/, "$1.$2");
        v = v.replace(/(\d{3})(\d)/, "$1.$2");
        v = v.replace(/(\d{3})(\d{1,2})$/, "$1-$2");
        return v;
    }
</script>

<div class="col s12 recuaTabela">
    <table class="bordered highlight">
        <tr>
            <th>
                CPF
            </th>
            <th>
                Nome
            </th>
            <th>
                Saldo
            </th>
            <th></th>
        </tr>

        @foreach (var usuario in Model)
        {
            <tr>
                <td class="cpf">
                    @Html.DisplayFor(modelItem => usuario.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.NomeUsuario)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => usuario.SaldoUsuario)
                </td>
                <td>
                    <a class="btn-floating waves-effect waves-light light-blue darken-3" onclick="AjaxJsUsuario.detalheUsuario('@usuario.Cpf');"><i class="material-icons">info_outline</i></a>
                </td>
                <td>
                    <a class="btn-floating waves-effect waves-light yellow darken-3" onclick="AjaxJsUsuario.editarUsuario('@usuario.Cpf');"><i class="material-icons">edit</i></a>
                </td>
                <td>
                    <a class="btn-floating waves-effect waves-light pink lighten-1" onclick="AjaxJsUsuario.desativarUsuario('@usuario.Cpf');"><i class="material-icons">remove_shopping_cart</i></a>
                </td>
            </tr>
        }
    </table>

    <div class="gridCelular">
        <ul class="collapsible" data-collapsible="accordion">
            @foreach (var usuario in Model)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons pink-text">account_circle</i>@usuario.NomeUsuario
                    </div>
                    <div class="collapsible-body">
                        <span>CPF : @usuario.Cpf</span>
                        <br />
                        <span>Saldo : R$ @usuario.SaldoUsuario</span>
                        <br /><br />
                        <a class="btn-floating waves-effect waves-light light-blue darken-3" onclick="AjaxJsUsuario.detalheUsuario('@usuario.Cpf');"><i class="material-icons">info_outline</i></a>
                        <a class="btn-floating waves-effect waves-light yellow darken-3" onclick="AjaxJsUsuario.editarUsuario('@usuario.Cpf');"><i class="material-icons">edit</i></a>
                        <a class="btn-floating waves-effect waves-light pink lighten-1" onclick="AjaxJsUsuario.desativarUsuario('@usuario.Cpf');"><i class="material-icons">remove_shopping_cart</i></a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

