@using CandyShop.Web.Helpers
@model IEnumerable<CandyShop.Application.ViewModels.ProdutoViewModel>

@{
    Layout = null;
}

<style>
    img {
        max-width: 100%;
    }

    body {
        overflow-y: scroll !important;
    }
</style>

<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip({ delay: 50 });
        // Exibindo quantidade em estoque nos modals de quantidade
        // Exibindo qtde em estoque antes de adicionar o item no carrinho
        $(".adicionaItemCarrinho").click(function () {
            // Limpando os inputs
            $("#quantidade").val(1);
            $("#quantidade").blur().focus();
            // Mostrando a quantidade de produto dispónível em estoque
            var quantidadeDisponivel = $(this).attr('data-quantidadeDisponivel');
            $('#modalQuantidade div p').html("Quantidade disponível em estoque: " + quantidadeDisponivel);
        });

        $('.image').mouseover(function () {
            var imagem = $(this);
            imagem.data["lista"] = imagem.attr('data-imagem').split(',');
            var i = 1;
            imagem.data["intervalo"] = setInterval(function () {
                imagem.attr('src', imagem.data["lista"][i]);
                i === 2 ? i = 0 : i++;
            }, 1000);
        }).mouseout(function () {
            clearInterval($(this).data["intervalo"]);
            $(this).attr('src', $(this).data["lista"][0]);
        });
    });
</script>
<script type="text/javascript" src="~/Js/telaPrincipal/scriptsMain.js"></script>

<div class="row">
    @if (!Model.Any())
    {
        <b><p align="center">Nenhum produto encontrado para '@ViewBag.Pesquisa'</p></b>
    }
    else
    {
        foreach (var produto in Model)
        {
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <div id="imagens">
                            <img class="image" data-Imagem="@produto.ImagemA,@produto.ImagemB,@produto.ImagemC" src="@produto.ImagemA">
                        </div>
                        <span class="card-title flow-text">@produto.NomeProduto</span>
                        <a href="#modalQuantidade" id="abreModal"
                           class="modal-trigger btn-floating halfway-fab waves-effect waves-light pink lighten-1 tooltipped adicionaItemCarrinho"
                           data-position="bottom" data-delay="50"
                           data-tooltip="@(produto.QtdeProduto == 0 ? "Produto indisponível no estoque" : "Inserir quantidade")"
                           data-Preco="@produto.PrecoProduto"
                           data-Nome="@produto.NomeProduto"
                           data-Imagem="@produto.ImagemA"
                           data-Id="@produto.IdProduto"
                           data-quantidadeDisponivel="@produto.QtdeProduto"
                           @(produto.QtdeProduto == 0 ? "disabled" : string.Empty)>
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <p>@Html.DisplayFor(model => produto.Categoria)</p>
                        <p>R$ @Html.DisplayFor(model => produto.PrecoProduto)</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
