@model IEnumerable<CandyShop.Application.ViewModels.ProdutoViewModel>

@{
    Layout = null;
}

<style>
    img {
        width: 200px;
        height: 200px
    }

    body {
        overflow-y: scroll !important;
    }

    .material-icons {
        font-size: 25px;
    }
</style>

<script type="text/javascript" src="~/Js/telaPrincipal/Carrinho.js?d=@DateTime.Now.Ticks"></script>
<script type="text/javascript" src="~/Js/telaPrincipal/Main.js?d=@DateTime.Now.Ticks"></script>

<div class="row">
    @if (!Model.Any())
    {
        <p align="center"><b>Nenhum produto encontrado para '@ViewBag.Pesquisa'</b></p>
    }
    else
    {
        foreach (var produto in Model)
        {
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <div id="imagens">
                            <img class="image" data-Imagem="@produto.ImagemA,@produto.ImagemB,@produto.ImagemC" src="@produto.ImagemA">
                        </div>
                        <span class="card-title flow-text pink-text">@produto.NomeProduto</span>

                    </div>
                    <div class="card-content">
                        <p>@Html.DisplayFor(model => produto.Categoria)</p>
                        <p>R$ @Html.DisplayFor(model => produto.PrecoProduto)</p>
                        <div style="text-align: right">
                            <!--adiciona o item no carrinho-->
                            <a id="adicionaCarrinho" class="modal-trigger btn-floating pink lighten-1 tooltipped waves-effect waves-light adicionaItemCarrinho"
                               data-position="bottom" data-delay="50"
                               data-tooltip="@(produto.QtdeProduto == 0 ? "Produto indisponível no estoque" : "Inserir no carrinho")"
                               data-Preco="@produto.PrecoProduto"
                               data-Nome="@produto.NomeProduto"
                               data-Imagem="@produto.ImagemA"
                               data-Id="@produto.IdProduto"
                               data-quantidadeDisponivel="@produto.QtdeProduto"
                               @(produto.QtdeProduto == 0 ? "disabled" : string.Empty)>
                                <i class="material-icons">add_shopping_cart</i>
                            </a>
                            <!--Comprar diretamente-->
                            <a class="btn-floating pink lighten-1 tooltipped waves-effect waves-light"
                               data-tooltip="@(produto.QtdeProduto == 0 ? "Produto indisponível no estoque" : "Comprar com 1 clique")"
                               data-Preco="@produto.PrecoProduto"
                               data-Nome="@produto.NomeProduto"
                               data-Imagem="@produto.ImagemA"
                               data-Id="@produto.IdProduto"
                               data-quantidadeDisponivel="@produto.QtdeProduto"
                               @(produto.QtdeProduto == 0 ? "disabled" : string.Empty)>
                                <i class="material-icons">send</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
