@model CandyShop.Application.ViewModels.CompraViewModel

@{
    ViewBag.Title = "Padrao";
}

<script>
    $(document).ready(function () {
        AjaxJsPagamento.init({
            listarPagamento: '@Url.Action("ListarCpf", "Pagamento")',
            inserirPagamento: '@Url.Action("Inserir", "Pagamento")',
            concluirPagamento: '@Url.Action("InserirPagamento", "Pagamento")',
            padrao: '@Url.Action("NavBar", "Home")'
        });

        AjaxJsCompra.init({
            historicoCompra: '@Url.Action("Listar", "Compra")'
        });

        AjaxJsUsuario.init({
            logOff: '@Url.Action("Deslogar", "Usuario")'
        });

        AjaxJsCompra.init({
            inserirCompra: '@Url.Action("Cadastrar","Compra")',
            historicoCompra: '@Url.Action("ListarCpf", "Compra")',
            detalheCompra: '@Url.Action("Detalhes", "Compra")',
            navbar: '@Url.Action("NavBar", "Home")'
        });
        AjaxJsShop.init({
            administracao: '@Url.Action("Index", "Admin")',
            main: '@Url.Action("Index", "Home")',
            verificaLogin: '@Url.Action("Logar","Home")',
            padrao: '@Url.Action("NavBar", "Home")',            
            listaCategoria: '@Url.Action("ListarCategoria", "Home")',
            listarProdutoPorNome: '@Url.Action("ProcurarProduto", "Home")'
        });

        //validando campo de CPF
        $("#cpf").on("keydown", function () {
            mcpf($("#cpf").val());
        });

        $("#cpf").on("blur", function () {
            if ($("#cpf").val().length > 14) {
                $("#cpf").val($("#cpf").val().substr(0, 13));
                $("#cpf").keydown();
            }
        });


    });

    function mcpf(v) {
        v = v.replace(/\D/g, "");
        v = v.replace(/(\d{3})(\d)/, "$1.$2");
        v = v.replace(/(\d{3})(\d)/, "$1.$2");
        v = v.replace(/(\d{3})(\d{1,2})$/, "$1-$2");
        $("#cpf").val(v);
    }
</script>

<link href="~/Content/Principal/Main.css?d=@DateTime.Now.Ticks" rel="stylesheet" />

<!--modal de quantidade-->
<div id="modalQuantidade" class="modal" style="z-index: 99999999">
    <div class="modal-content center">
        <font class="pink-text modal-close" style="font-weight: bold; position: absolute; right: 20px; top: 5px;">X</font>
        <h3 class="pink-text lighten-1 identQuant">Quantidade</h3>
        <p class="pink-text center identQuant"></p>
        <form class="center">
            <input type="number" id="quantidade" class="center identQuant" autocomplete="off" />
            <span class="QtdeInvalida" color="red"></span>
        </form>
    </div>   
    <div class="modal-footer identQuant">
        <a id="adicionaCarrinho" href="#modalCarrinho" disabled class="modal-trigger waves-effect waves-green btn-flat pink-text modal-close" style="font-weight: bold">Confirma</a>
    </div>
</div>

<!--modal de editar quantidade-->
<div id="modalEditarQuantidade" class="modal" style="z-index: 99999999">
    <div class="modal-content center">
        <font class="pink-text modal-close" style="font-weight: bold; position: absolute; right: 20px; top: 5px;">X</font>
        <h3 class="pink-text lighten-1 identQuant">Quantidade</h3>
        <p class="pink-text center identQuant"></p>
        <form class="center">
            <input type="number" id="quantidadeEdit" class="center identQuant" autocomplete="off" />
            <span class="QtdeInvalida" color="red"></span>
        </form>
    </div>
    <div class="modal-footer identQuant">
        <a id="editarQuantidade" href="#modalCarrinho" disabled class="modal-trigger waves-effect waves-green btn-flat pink-text modal-close" style="font-weight: bold">Confirma</a>
    </div>
</div>

<!--modal do carrinho-->
<div id="modalCarrinho" class="modal">
    <div class="modal-content center">
        <font class="pink-text modal-close" style="font-weight: bold; position: absolute; right: 20px; top: 5px;">X</font>
        <h3 class="pink-text identQuant" style="font-weight: bold">Carrinho</h3>
        <div class="collection identQuant">

        </div>
    </div>
    <div class="modal-footer identQuant">
        <a href="#!" class="modal-trigger right modal-action modal-close waves-effect waves-light btn-flat pink-text" style="font-weight: bold" onclick="AjaxJsCompra.inserirCompra()">Confirmar compra</a>
        <a href="#!" id="limpar" class="modal-close right modal-action waves-effect waves-light btn-flat pink-text" style="font-weight: bold">Limpar</a>
    </div>
</div>

<!--modal de Login-->
<div id="modalLogin" class="modal">
    <div class="modal-content center identQuant">
        <font class="pink-text modal-close" style="font-weight: bold; position: absolute; right: 20px; top: 5px;">X</font>
        <h2 class="pink-text identQuant" style="font-weight: bold">Login</h2>
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <input id="cpf" type="text" class="validate identQuant">
                    <label for="cpf">CPF</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="senha" type="password" class="validate identQuant">
                    <label for="senha">Senha</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer identQuant">
        <a href="#modalLogin" id="logar" class="modal-trigger right modal-action modal-close waves-effect waves-light btn-flat pink-text" onclick="AjaxJsShop.verificaLogin()" style="font-weight: bold">Logar</a>
        <a href="#!" id="limpar" class="right modal-close waves-effect waves-light btn-flat pink-text" style="font-weight: bold">Cancelar</a>
    </div>
</div>

<!--modal de editar compra-->
<div id="modalEditarCompra" class="modal">
    <div class="modal-content center identQuant">
        <font class="pink-text modal-close" style="font-weight: bold; position: absolute; right: 20px; top: 5px;">X</font>
        <h3 class="pink-text lighten-1 identQuant">Quantidade:</h3>
        <form class="center">
            <input type="text" id="quantidadeEdit" class="center identQuant" autocomplete="off" />
        </form>
    </div>
    <div class="modal-footer identQuant">
        <a href="#!" id="editarQuantidade" class="modal-action modal-close waves-effect waves-light btn-flat pink-text" style="font-weight: bold">Confirmar</a>
    </div>
</div>


<ul id="dropdownFiltro" class="dropdown-content">
    <li><a href="#!" onclick="AjaxJsShop.voltarInicio(); ">Todos</a></li>
    <li><a href="#!" onclick="AjaxJsShop.listaCategoria('Amendoins')">Amendoins</a></li>
    <li><a href="#!" onclick="AjaxJsShop.listaCategoria('Balas')">Balas</a></li>
    <li><a href="#!" onclick="AjaxJsShop.listaCategoria('Bebidas')">Bebidas</a></li>
    <li><a href="#!" onclick="AjaxJsShop.listaCategoria('Chocolates')">Chocolates</a></li>
    <li><a href="#!" onclick="AjaxJsShop.listaCategoria('Doces')">Doces</a></li>
    <li><a href="#!" onclick="AjaxJsShop.listaCategoria('Salgadinhos')">Salgadinhos</a></li>
</ul>

@if (!Session["Login"].ToString().Equals("off"))
{
    <nav class="brown darken-3 nav-extended">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="#!" class="brand-logo right" onclick="AjaxJsProduto.listaProduto();" style="font-weight: bold"><i class="material-icons">store</i><font class="pink-text">Candy</font> Shop</a>


            <!--barra de navegação-->
            <ul id="dropdownMenu" class="dropdown-content">
                <li><a href="#!" onclick="AjaxJsPagamento.listarPagamento()"><i class="material-icons">attach_money</i>Listar Pagamentos</a></li>
                <li><a href="#!" onclick="AjaxJsPagamento.inserirPagamento()"><i class="material-icons">add</i>Efetuar Pagamentos</a></li>
                <li><a href="#!" onclick="AjaxJsCompra.historicoCompra()"><i class="material-icons">find_in_page</i>Histórico de Compra</a></li>
                <li class="divider"></li>
                @if (Session["classificacao"].ToString().Equals("A"))
                {
                <li><a href="#!" onclick="AjaxJsShop.administracao()"><i class="material-icons">book</i>Administrativo</a></li>
                <li class="divider"></li>
                }
                <li><a href="#!" onclick="AjaxJsUsuario.logOff()"><i class="material-icons">power_settings_new</i>Sair</a></li>
            </ul>

            <ul class="hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="dropdownMenu">Opções<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" href="#!"><i class="material-icons left">account_circle</i>@Session["nomeUsuario"] R$ @Session["saldoUsuario"]</a></li>
                <li><a class="dropdown-button modal-trigger" href="#modalCarrinho"><i class="material-icons left">shopping_cart</i>Seu Carrinho</a></li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdownFiltro">Filtro<i class="material-icons right">arrow_drop_down</i></a>
                </li>
                <li>
                    <div class="col s4 hide-on-med-and-down">
                        <div>
                            <div class="input-field">
                                <input id="search" type="search">
                                <label class="label-icon" for="search">
                                    <i class="material-icons">search</i>
                                </label>
                                <i class="material-icons closed ">close</i>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="side-nav" id="mobile-demo">
                <li><a class="dropdown-button" href="#!"><i class="material-icons left">account_circle</i>@Session["nomeUsuario"] R$ @Session["saldoUsuario"]</a></li>
                <li><a class="dropdown-button modal-trigger" href="#modalCarrinho"><i class="material-icons left">shopping_cart</i>Carrinho</a></li>
                <li><a href="#!" onclick="AjaxJsPagamento.listarPagamento()"><i class="material-icons">attach_money</i>Listar Pagamentos</a></li>
                <li><a href="#!" onclick="AjaxJsPagamento.inserirPagamento()"><i class="material-icons">add</i>Inserir Pagamentos</a></li>
                <li><a href="#!" onclick="AjaxJsCompra.historicoCompra()"><i class="material-icons">find_in_page</i>Historico de Compra</a></li>
                <li class="divider"></li>
                @if (Session["classificacao"].ToString().Equals("A"))
                {
                <li><a href="#!" onclick="AjaxJsShop.administracao()"><i class="material-icons">find_in_page</i>Administrativo</a></li>
                <li class="divider"></li>
                }
                <li><a href="#!" onclick="AjaxJsUsuario.logOff()"><i class="material-icons">power_settings_new</i>Sair</a></li>
            </ul>
        </div>
        <div class="nav-content white">
            <form class="pesquisaMobile">
                <div class="input-field">
                    <input id="search" class="black-text" type="search" placeholder="Filtre sua busca aqui" required>
                    <label class="label-icon" for="search"></label>
                    <i class="material-icons black-text">close</i>
                </div>
            </form>
        </div>
    </nav>
}
else
{
    <nav class="brown darken-2 nav-extended">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="#!" class="brand-logo right" onclick="AjaxJsShop.voltarInicio(); " style="font-weight: bold"><i class="material-icons">store</i><font class="pink-text">Candy</font> Shop</a>
            <ul class="hide-on-med-and-down">
                <li><a class="dropdown-button modal-trigger" href="#modalLogin"><i class="material-icons left">account_circle</i>Login</a></li>
                <li><a class="dropdown-button modal-trigger" href="#modalCarrinho"><i class="material-icons left">shopping_cart</i>Carrinho atual</a></li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdownFiltro">Filtro<i class="material-icons right">arrow_drop_down</i></a>
                </li>
                <li>
                    <div class="col s4 hide-on-med-and-down">
                        <div>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search">
                                    <i class="material-icons">search</i>
                                </label>
                                <i class="material-icons closed ">close</i>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="side-nav" id="mobile-demo">
                <li><a class="dropdown-button" href="#!"><i class="material-icons left">account_circle</i>Nome do usuario R$ 0,00</a></li>
                <li><a class="dropdown-button modal-trigger" href="#modalCarrinho"><i class="material-icons left">shopping_cart</i>Carrinho</a></li>
                <li><a href="#!" onclick="AjaxJsPagamento.listarPagamento()"><i class="material-icons">attach_money</i>Listar Pagamentos</a></li>
                <li><a href="#!" onclick="AjaxJsPagamento.inserirPagamento()"><i class="material-icons">add</i>Inserir Pagamentos</a></li>
                <li><a href="#!" onclick="AjaxJsPagamento.historicoCompra()"><i class="material-icons">find_in_page</i>Historico de Compra</a></li>
                <li class="divider"></li>
                <li><a href="#!" onclick="AjaxJsUsuario.logOff()"><i class="material-icons">power_settings_new</i>Sair</a></li>
            </ul>
        </div>
        <div class="nav-content white">
            <form class="pesquisaMobile">
                <div class="input-field">
                    <input id="search" class="black-text" type="search" placeholder="Filtre sua busca aqui" required>
                    <label class="label-icon" for="search"></label>
                    <i class="material-icons black-text">close</i>
                </div>
            </form>
        </div>
    </nav>
}

<div id="DivGrid"></div>
