@{
    ViewBag.Title = "Padrao";
}

<script src="~/Js/Ajax.js?d=@DateTime.Now.Ticks" type="text/javascript"></script>
<script type="text/javascript" src="../../Js/scriptsPadrao.js?d=@DateTime.Now.Ticks"></script>
<script>
    $(document).ready(function() {
        AjaxJs.init({
            main: '@Url.Action("Main", "Home")',
            pagamento: '@Url.Action("Index", "Pagamento")',
            historicoCompra: '@Url.Action("Historico", "Compra")',
            detalhePagamento: '@Url.Action("Detalhes", "Pagamento")',
            verificaLogin : '@Url.Action("Logar","Usuario")'
        });
    });
</script>

<link href="~/Content/Main.css" rel="stylesheet" />

<style>
    input {
        text-align: center;
    }
    h2 {
        font-weight: bold;
        color: red;
    }
</style>

<!--modal de quantidade-->
<div id="modal1" class="modal">
    <div class="modal-content center">
        <h3>Quantidade</h3>
        <form class="center">
            <input type="text" id="quantidade" class="center" autocomplete="off" />
        </form>
    </div>
    <div class="modal-footer">
        <a href="#modal2" id="confirmacao" class="modal-trigger modal-close waves-effect waves-green btn-flat brown-text">Confirma</a>
    </div>
</div>

<!--modal de confirmação-->
<div id="modal2" class="modal">
    <div class="modal-content center">
        <h3>Adicionar ao carrinho?</h3>
    </div>
    <div class="modal-footer">
        <a href="#!" id="adicionaCarrinho" class="modal-action modal-close waves-effect waves-green btn-flat">Confirmar</a>
    </div>
</div>

<!--modal de compra-->
<div id="modal3" class="modal">
    <div class="modal-content center">
        <h3>Carrinho</h3>
        <div class="collection">

        </div>
    </div>
    <div class="modal-footer">
        <a href="#modalLogin" class="modal-trigger right modal-action modal-close waves-effect waves-green btn-flat">Confirmar compra</a>
        <a href="#!" id="limpar" class="right modal-action waves-effect waves-green btn-flat brown-text">Limpar</a>
    </div>
</div>

<!--modal de Login-->
<div id="modalLogin" class="modal">
    <div class="modal-content center">
        <h2>Login</h2>
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <input id="cpf" type="text" class="validate">
                    <label for="cpf">CPF</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="senha" type="password" class="validate">
                    <label for="senha">Senha</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#modalLogin" class="modal-trigger right modal-action modal-close waves-effect waves-green btn-flat" onclick="AjaxJs.verificaLogin()">Logar</a>
        <a href="#!" id="limpar" class="right modal-action waves-effect waves-green btn-flat brown-text">Cancelar</a>
    </div>
</div>

<!--modal de editar compra-->
<div id="modal4" class="modal">
    <div class="modal-content center">
        <h3>Quantidade:</h3>
        <form class="center">
            <input type="text" id="quantidadeEdit" class="center" autocomplete="off" />
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" id="confirmaCompra" class="modal-action modal-close waves-effect waves-green btn-flat">Confirmar</a>
    </div>
</div>

<!--barra de navegação-->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!" onclick="AjaxJs.pagamento()"><i class="material-icons">attach_money</i>Pagamento</a></li>
    <li><a href="#!" onclick="AjaxJs.historicoCompra()"><i class="material-icons">find_in_page</i>Histórico</a></li>
    <li class="divider"></li>
    <li><a href="#!"><i class="material-icons">power_settings_new</i>Sair</a></li>
</ul>

@if (Session["Login"].ToString() == "logado")
{
    <nav class="brown nav-extended">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="#!" class="brand-logo right" onclick="AjaxJs.voltarInicio()"><i class="material-icons">store</i>Candy Shop</a>

            <ul class="hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Opções<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" href="#!"><i class="material-icons left">account_circle</i>Nome do usuario R$ 0,00</a></li>
                <li><a class="dropdown-button modal-trigger" href="#modal3"><i class="material-icons left">shopping_cart</i>Carrinho atual</a></li>
                <li>
                    <div class="col s4 hide-on-med-and-down">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" placeholder="pesquise por itens aqui" required>
                                <label class="label-icon" for="search">
                                    <i class="material-icons">search</i>
                                </label>
                                <i class="material-icons closed ">close</i>
                            </div>
                        </form>
                    </div>
                </li>
                <li style="margin-left: 250px">
                    <select style="position: absolute; margin-top: 30px">
                        <option value="" disabled selected class="white-text">Filtro</option>
                        <option value="1">Chocolates</option>
                        <option value="2">Amendoins</option>
                        <option value="3">Salgadinhos</option>
                    </select>
                </li>
            </ul>

            <ul class="side-nav" id="mobile-demo">
                <li><a class="dropdown-button" href="#!"><i class="material-icons left">account_circle</i>Nome do usuario R$ 0,00</a></li>
                <li><a class="dropdown-button modal-trigger" href="#modal3"><i class="material-icons left">shopping_cart</i>Carrinho</a></li>
                <li><a href="#!" onclick="AjaxJs.pagamento()"><i class="material-icons">attach_money</i>Pagamento</a></li>
                <li><a href="#!" onclick="AjaxJs.historicoCompra()"><i class="material-icons">find_in_page</i>Historico</a></li>
                <li class="divider"></li>
                <li><a href="#!"><i class="material-icons">power_settings_new</i>Sair</a></li>
            </ul>
        </div>
        <div class="nav-content white">
            <form class="pesquisaMobile">
                <div class="input-field">
                    <input id="search" class="black-text" type="search" placeholder="Filtre sua busca aqui" required>
                    <label class="label-icon" for="search"></label>
                    <i class="material-icons black-text">close</i>
                </div>
            </form>
        </div>
    </nav>
}
else
{
    <nav class="brown nav-extended">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="#!" class="brand-logo right" onclick="AjaxJs.voltarInicio()"><i class="material-icons">store</i>Candy Shop</a>

            <ul class="hide-on-med-and-down">
                
                <li><a class="dropdown-button modal-trigger" href="#modal3"><i class="material-icons left">shopping_cart</i>Carrinho atual</a></li>
                <li>
                    <div class="col s4 hide-on-med-and-down">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" placeholder="pesquise por itens aqui" required>
                                <label class="label-icon" for="search">
                                    <i class="material-icons">search</i>
                                </label>
                                <i class="material-icons closed ">close</i>
                            </div>
                        </form>
                    </div>
                </li>
                <li style="margin-left: 250px">
                    <select style="position: absolute; margin-top: 30px">
                        <option value="" disabled selected class="white-text">Filtro</option>
                        <option value="1">Chocolates</option>
                        <option value="2">Amendoins</option>
                        <option value="3">Salgadinhos</option>
                    </select>
                </li>
            </ul>

            <ul class="side-nav" id="mobile-demo">
                <li><a class="dropdown-button" href="#!"><i class="material-icons left">account_circle</i>Nome do usuario R$ 0,00</a></li>
                <li><a class="dropdown-button modal-trigger" href="#modal3"><i class="material-icons left">shopping_cart</i>Carrinho</a></li>
                <li><a href="#!" onclick="AjaxJs.pagamento()"><i class="material-icons">attach_money</i>Pagamento</a></li>
                <li><a href="#!" onclick="AjaxJs.historicoCompra()"><i class="material-icons">find_in_page</i>Historico</a></li>
                <li class="divider"></li>
                <li><a href="#!"><i class="material-icons">power_settings_new</i>Sair</a></li>
            </ul>
        </div>
        <div class="nav-content white">
            <form class="pesquisaMobile">
                <div class="input-field">
                    <input id="search" class="black-text" type="search" placeholder="Filtre sua busca aqui" required>
                    <label class="label-icon" for="search"></label>
                    <i class="material-icons black-text">close</i>
                </div>
            </form>
        </div>
    </nav>
}

<div id="DivGrid"><img src="https://media.tenor.com/images/d6cd5151c04765d1992edfde14483068/tenor.gif" style="width: 100px;height: 100px;margin: 0 auto;display: block;"></div>

