@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="../../Js/scriptsAdmin.js?d=@DateTime.Now.Ticks"></script>
<script type="text/javascript" src="../../Js/Ajax.js?d=@DateTime.Now.Ticks"></script>
<script>
    $(document).ready(function () {
        AjaxJs.init({
            main: '@Url.Action("Index", "Usuario")',
            listaProduto: '@Url.Action("Index", "Produto")',
            listaUsuario: '@Url.Action("Index", "Usuario")',
            mostraSaldo: '@Url.Action("Index", "Shop")',
            cadastroUsuario: '@Url.Action("Cadastrar","Usuario")',
            cadastrarProduto: '@Url.Action("CadastrarProduto", "Produto")',
            detalheProduto: '@Url.Action("DetalheProduto", "Produto")'
        });
    })
</script>

<link rel="stylesheet" type="text/css" href="../../Content/indexAdmin.css">

<!--modal de pesquisa de usuários-->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h3 class="center">Nome do usuário:</h3>
        <form>
            <input type="text" id="nomeUsuario" autocomplete="off"/>
        </form>
    </div>
    <div class="modal-footer center">
        <a href="#!" class="btn waves waves-light modal-close waves-effect waves-green btn-flat brown-text">Encontrar<i class="material-icons right brown-text">search</i></a>
    </div>
</div>

<ul id="slide-out" class="side-nav fixed brown" style="margin-right: -10%">
    <h3><font color="white">Candy</font><font color="red"> Shop</font></h3>
    <li class="divider"></li>
    <li><a class="dropdown-button white-text" href="#!"><i class="material-icons left white-text">account_box</i>Administrador</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
        <li>
            <div class="collapsible-header white-text">
                <i class="material-icons left">face</i>Usuários
            </div>
            <div class="collapsible-body">
                <ul class="brown-text">
                    <li><a class="dropdown-button" href="#!" onclick="AjaxJs.listaUsuario()"><i class="material-icons">list</i>Lista usuários</a></li>
                    <li><a href="#!"><i class="material-icons">attach_money</i>Usuários em dívida</a></li>
                    <li><a href="#modal1" class="modal-trigger"><i class="material-icons">find_in_page</i>Encontrar usuário</a></li>
                    <li><a href="#!" onclick="AjaxJs.cadastroUsuario()"><i class="material-icons">account_circle</i>Inserir Usuário</a></li>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
        <li>
            <div class="collapsible-header white-text">
                <i class="material-icons left">shopping_cart</i>Produtos
            </div>
            <div class="collapsible-body">
                <ul class="brown-text">
                    <li><a href="#!" class="dropdown-button" onclick="AjaxJs.listaProduto()"><i class="material-icons">list</i>Lista produtos</a></li>
                    <li><a href="#!"><i class="material-icons">find_in_page</i>Encontrar produto</a></li>
                    <li><a href="#!" onclick="AjaxJs.cadastrarProduto();"><i class="material-icons">add_shopping_cart</i>Inserir produtos</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <li><a class="dropdown-button white-text" href="#!" onclick="AjaxJs.mostraSaldo()"><i class="material-icons left white-text">attach_money</i>Crédito atual da loja</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="dropdown-button white-text" href="#!"><i class="material-icons left white-text">home</i>Voltar ao início</a></li>
</ul>

<a href="#" id="sideTrigger" data-activates="slide-out" class="button-collapse brown-text"><i class="material-icons">menu</i></a>
<div id="DivGrid"></div>