@{
    ViewBag.Title = "Administração";
}

<script>
    $(document).ready(function () {
        AjaxJsUsuario.init({
            listaUsuario: '@Url.Action("Listar", "Usuario")',
            mostraSaldo: '@Url.Action("Index", "Shop")',
            cadastroUsuario: '@Url.Action("Cadastrar","Usuario")',
            concluirCadastroUsuario: '@Url.Action("Cadastrar", "Usuario")',
            editarUsuario: '@Url.Action("Editar","Usuario")',
            concluirEdicaoUsuario: '@Url.Action("Editar","Usuario")',
            detalheUsuario: '@Url.Action("Detalhes","Usuario")',
            desativarUsuario: '@Url.Action("Desativar", "Usuario")',
            desativarUsuarioConfirmado: '@Url.Action("DesativarUsuario", "Usuario")',
            listarUsuarioInativo: '@Url.Action("ListarInativos", "Usuario")',
            listarUsuarioEmDivida: '@Url.Action("ListarUsuariosEmDivida", "Usuario")',
            listarUsuarioPorNome: '@Url.Action("ProcurarUsuario", "Usuario")',
            logOff: '@Url.Action("Deslogar", "Usuario")'
        });

        AjaxJsProduto.init({
            main: '@Url.Action("Listar", "Produto")',
            listaProduto: '@Url.Action("Listar", "Produto")',
            cadastrarProduto: '@Url.Action("CadastrarProduto", "Produto")',
            concluirCadastroProduto: '@Url.Action("CadastrarProduto", "Produto")',
            detalheProduto: '@Url.Action("DetalheProduto", "Produto")',
            editarProduto: '@Url.Action("EditarProduto", "Produto")',
            concluirEdicaoProduto: '@Url.Action("EditarProduto", "Produto")',
            desativarProduto: '@Url.Action("DesativarProduto", "Produto")',
            desativarProdutoConfirmado: '@Url.Action("DesativarProdutoConfirmado", "Produto")',
            listarInativos: '@Url.Action("ListarInativos", "Produto")',
            listarProdutoPorNome: '@Url.Action("ProcurarProduto", "Produto")'
        });

        AjaxJsPagamento.init({
            listarPagamento: '@Url.Action("Listar", "Pagamento")',
            listarPagamentoSemana: '@Url.Action("ListarSemana", "Pagamento")',
            listarPagamentoMes: '@Url.Action("ListarMes", "Pagamento")',
            listarPagamentoDia: '@Url.Action("ListarDia", "Pagamento")',
            editarPagamento: '@Url.Action("Editar", "Pagamento")',
            concluirEdicaoPagamento: '@Url.Action("EditarPagamento", "Pagamento")'
        });

        AjaxJsCompra.init({
            listarCompraSemana: '@Url.Action("ListarSemana", "Compra")',
            listarCompraMes: '@Url.Action("ListarMes", "Compra")',
            listarCompraDia: '@Url.Action("ListarDia", "Compra")',
            listarCompra: '@Url.Action("Listar", "Compra")',
            detalheCompra: '@Url.Action("Detalhes", "Compra")',
        });

        AjaxJsShop.init({
            mostraSaldo: '@Url.Action("Index", "Shop")',
            loja: '@Url.Action("NavBar", "Home")',
            main: '@Url.Action("Listar", "Produto")'
        });

        $("#modalPesquisaUsuario").modal({ dismissible: false, ready: function () { adicionaFoco("#nomeUsuario") } });
        $("#modalPesquisaProduto").modal({ dismissible: false, ready: function () { adicionaFoco("#nomeProduto") } });

        $("html,body").dblclick(function (e) {
            if ($(e.target).hasClass("modal") || $(e.target).hasClass("modal-content") ||
                $(e.target).hasClass("modal-footer") || $(e.target).hasClass("identQuant"))
                return false;

            $("#modalPesquisaProduto, #modalPesquisaUsuario").modal("close");
        });

        $("#nomeUsuario").keydown(function (e) {
            if (e.which === 13)
                closeModalsClearInputs("#modalPesquisaUsuario", "#nomeUsuario", AjaxJsUsuario.listarUsuarioPorNome);
        });

        $("#pesquisarUsuario").click(function () {
            closeModalsClearInputs("#modalPesquisaUsuario", "#nomeUsuario", AjaxJsUsuario.listarUsuarioPorNome);
        });

        $("#nomeProduto").keydown(function (e) {
            if (e.which === 13)
                closeModalsClearInputs("#modalPesquisaProduto", "#nomeProduto", AjaxJsProduto.listarProdutoPorNome);
        });

        $("#pesquisarProduto").click(function () {
            closeModalsClearInputs("#modalPesquisaProduto", "#nomeProduto", AjaxJsProduto.listarProdutoPorNome);
        });
    });

    function adicionaFoco(input) { console.log(input); $(input).focus(); }

    function closeModalsClearInputs(modal, input, funcao) {
        if (typeof funcao === "function")
            funcao($(input).val());

        $(modal).modal("close");
        $(input).val("");
    }
</script>
<script type="text/javascript" src="~/Js/telaPrincipal/scriptsMain.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/Admin/indexAdmin.css?d=@DateTime.Now.Ticks">
<style>
    .divider {
        height: 2px;
    }
</style>
<!--modal de pesquisa de usuários-->
<div id="modalPesquisaUsuario" class="modal">
    <div class="modal-content">
        <font class="pink-text modal-close identQuant" title="Fechar" style="font-weight: bold; position: absolute; right: 20px; top: 5px; font-size:24px">X</font>
        <h3 class="center pink-text identQuant">Nome do usuário</h3>
        <div>
            <input type="text" maxlength="50" class="identQuant" id="nomeUsuario" autocomplete="off" />
        </div>
    </div>
    <div class="modal-footer center">
        <a href="#!" id="pesquisarUsuario" class="identQuant closeMenu btn waves waves-light modal-close waves-effect btn-flat pink-text">Encontrar<i class="material-icons right pink-text">search</i></a>
    </div>
</div>

<!--modal de pesquisa de produtos-->
<div id="modalPesquisaProduto" class="modal">
    <div class="modal-content">
        <font class="pink-text modal-close identQuant" title="Fechar" style="font-weight: bold; position: absolute; right: 20px; top: 5px; font-size:24px">X</font>
        <h3 class="center pink-text identQuant">Nome do produto:</h3>
        <div>
            <input type="text" maxlength="40" id="nomeProduto" class="identQuant" autocomplete="off" style="text-align:center" />
        </div>
    </div>
    <div class="modal-footer center">
        <a href="#!" id="pesquisarProduto" class="closeMenu btn waves waves-light modal-close waves-effect btn-flat pink-text">Encontrar<i class="material-icons right pink-text">search</i></a>
    </div>
</div>

<ul id="slide-out" class="side-nav fixed brown darken-3">
    <li class="white-text">
        <a href='@Url.Action("NavBar", "Home")' title="Voltar para Loja"><h4 class="center" style="cursor: pointer;">Candy <font class="white-text">Shop</font></h4></a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    
    <li style="margin-top: 30px">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header white-text">
                    <i class="material-icons left">shopping_cart</i>PRODUTOS
                </div>
                <div class="collapsible-body">
                    <ul class="brown-text">
                        <li><a href="#!" class="closeMenu" onclick="AjaxJsProduto.listaProduto()"><i class="material-icons">list</i>Listar produtos</a></li>
                        <li><a href="#modalPesquisaProduto" class="modal-trigger"><i class="material-icons">find_in_page</i>Encontrar produto</a></li>
                        <li><a href="#!" class="closeMenu" onclick="AjaxJsProduto.cadastrarProduto();"><i class="material-icons">add_shopping_cart</i>Inserir produto</a></li>
                        <li><a href="#!" class="closeMenu" onclick="AjaxJsProduto.listarInativos()"><i class="material-icons">list</i>Listar Inativos</a></li>
                    </ul>
                </div>
            </li>
            <li onclick="AjaxJsUsuario.listaUsuario()">
                <div class="collapsible-header white-text">
                    <i class="material-icons left">face</i>USUÁRIOS
                </div>
                @*<div class="collapsible-body">
                    <ul>
                        <li><a class="closeMenu" href="#!" onclick="AjaxJsUsuario.listaUsuario()"><i class="material-icons">list</i>Listar usuários</a></li>
                        <li><a class="closeMenu" href="#!" onclick="AjaxJsUsuario.listarUsuarioEmDivida()"><i class="material-icons">attach_money</i>Usuários em dívida</a></li>
                        <li><a class="modal-trigger" href="#modalPesquisaUsuario"><i class="material-icons">find_in_page</i>Encontrar usuário</a></li>
                        <li><a class="closeMenu" href="#!" onclick="AjaxJsUsuario.cadastroUsuario()"><i class="material-icons">account_circle</i>Inserir Usuário</a></li>
                        <li><a class="closeMenu" href="#!" onclick="AjaxJsUsuario.listarUsuarioInativo()"><i class="material-icons">list</i>Listar Inativos</a></li>
                    </ul>
                </div>*@
            </li>
            <li>
                <div class="collapsible-header white-text">
                    <i class="material-icons left">money</i>PAGAMENTOS
                </div>
                <div class="collapsible-body">
                    <ul class="brown-text">
                        <li><a href="#!" class="closeMenu" onclick="AjaxJsPagamento.listarPagamentoDia();"><i class="material-icons">access_time</i>Hoje</a></li>
                        <li><a href="#!" class="closeMenu" onclick="AjaxJsPagamento.listarPagamentoSemana();"><i class="material-icons">date_range</i>Ultima semana</a></li>
                        <li><a href="#!" class="closeMenu" onclick="AjaxJsPagamento.listarPagamento();"><i class="material-icons">book</i>Ultimo mês</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header white-text">
                    <i class="material-icons left">shopping basket</i>COMPRAS
                </div>
                <div class="collapsible-body">
                    <ul class="brown-text">
                        <li><a href="#!" class="closeMenu" onclick="AjaxJsCompra.listarCompraDia();"><i class="material-icons">access_time</i>Hoje</a></li>
                        <li><a href="#!" class="closeMenu" onclick="AjaxJsCompra.listarCompraSemana();"><i class="material-icons">date_range</i>Ultima semana</a></li>
                        <li><a href="#!" class="closeMenu" onclick="AjaxJsCompra.listarCompra();"><i class="material-icons">book</i>Ultimo mês</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li><a class="dropdown-button white-text closeMenu" href="#!" onclick="AjaxJsShop.mostraSaldo()"><i class="material-icons left white-text">monetization_on</i>CRÉDITO ATUAL DA LOJA</a></li>
    <li><br /></li>
    <div style="position: absolute; bottom: 50px; width:100%">
        <li>
            <div class="divider white"></div>
        </li>
        <li><a class="dropdown-button white-text active" title="Voltar para Loja" href='@Url.Action("NavBar", "Home")'><i class="material-icons left white-text">call_made</i>VOLTAR PARA LOJA</a></li>
        <li><a class="dropdown-button white-text active" title="Fazer logoff" href='#!' onclick="AjaxJsUsuario.logOff()"><i class="material-icons left white-text">power_settings_new</i>SAIR</a></li>
    </div>
</ul>

<a href="#" id="sideTrigger" data-activates="slide-out" class="button-collapse pink-text" style="width: 40px; height: 40px; margin-top: 0; margin-left: 5px; overflow: hidden;"><i class="material-icons" style="font-size: 40px">menu</i></a>

<div id="DivGrid"></div>