@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="../../Js/scriptsAdmin.js?d=@DateTime.Now.Ticks"></script>
<script type="text/javascript" src="../../Js/Ajax.js?d=@DateTime.Now.Ticks"></script>
<script>
    $(document).ready(function () {
        AjaxJs.init({
            main: '@Url.Action("Index", "Usuario")',
            //usuários
            listaUsuario: '@Url.Action("Index", "Usuario")',
            mostraSaldo: '@Url.Action("Index", "Shop")',
            cadastroUsuario: '@Url.Action("Cadastrar","Usuario")',
            //produtos
            listaProduto: '@Url.Action("Index", "Produto")',
            cadastrarProduto: '@Url.Action("CadastrarProduto", "Produto")',
            concluirCadastroProduto: '@Url.Action("CadastrarProduto", "Produto")',
            detalheProduto: '@Url.Action("DetalheProduto", "Produto")',
            editarProduto: '@Url.Action("EditarProduto", "Produto")',
            excluirProduto: '@Url.Action("ExcluirProduto", "Produto")'
        });
    })
</script>

<link rel="stylesheet" type="text/css" href="../../Content/indexAdmin.css">

<style>
    #DivGrid {
    }
</style>

<!--modal de pesquisa de usuários-->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h3 class="center">Nome do usuário:</h3>
        <form>
            <input type="text" id="nomeUsuario" autocomplete="off" />
        </form>
    </div>
    <div class="modal-footer center">
        <a href="#!" class="btn waves waves-light modal-close waves-effect waves-green btn-flat brown-text">Encontrar<i class="material-icons right brown-text">search</i></a>
    </div>
</div>

<ul id="slide-out" class="side-nav fixed brown">
    <h3><font color="white">Candy</font><font color="red"> Shop</font></h3>
    <li class="divider"></li>
    <li><a class="dropdown-button white-text" href="#!"><i class="material-icons left white-text">account_box</i>Administrador</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header white-text">
                <i class="material-icons left">face</i>Usuários
            </div>
            <div class="collapsible-body">
                <ul class="brown-text">
                    <li><a class="closeMenu" href="#!" onclick="AjaxJs.listaUsuario()"><i class="material-icons">list</i>Listar usuários</a></li>
                    <li><a class="closeMenu" href="#!" onclick="AjaxJs.listaUsuario()"><i class="material-icons">attach_money</i>Usuários em dívida</a></li>
                    <li><a class="modal-trigger" href="#modal1"><i class="material-icons">find_in_page</i>Encontrar usuário</a></li>
                    <li><a class="closeMenu" href="#!" onclick="AjaxJs.cadastroUsuario()"><i class="material-icons">account_circle</i>Inserir Usuário</a></li>
                </ul>
            </div>
        </li>
    
        <li>
            <div class="collapsible-header white-text">
                <i class="material-icons left">shopping_cart</i>Produtos
            </div>
            <div class="collapsible-body">
                <ul class="brown-text">
                    <li><a href="#!" class="closeMenu" onclick="AjaxJs.listaProduto()"><i class="material-icons">list</i>Listar produtos</a></li>
                    <li><a href="#!" class="closeMenu"><i class="material-icons">find_in_page</i>Encontrar produto</a></li>
                    <li><a href="#!" class="closeMenu" onclick="AjaxJs.cadastrarProduto();"><i class="material-icons">add_shopping_cart</i>Inserir produto</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <li><a class="dropdown-button white-text" href="#!" onclick="AjaxJs.mostraSaldo()"><i class="material-icons left white-text">attach_money</i>Crédito atual da loja</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="dropdown-button white-text" href="#!"><i class="material-icons left white-text">power_settings_new</i>Sair</a></li>
</ul>

<a href="#" id="sideTrigger" data-activates="slide-out" class="button-collapse brown-text"><i class="material-icons">menu</i></a>
<div id="DivGrid"><img src="https://media.tenor.com/images/d6cd5151c04765d1992edfde14483068/tenor.gif" style="width: 100px;height: 100px;margin: 0 auto;display: block;"></div>