<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@ViewBag.Title</title>
    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
        
    <script type="text/javascript" src="../../Js/scriptsAdmin.js?d=@DateTime.Now.Ticks"></script>
    <script type="text/javascript" src="../../Js/scriptsMain.js?d=@DateTime.Now.Ticks"></script>
    <script type="text/javascript" src="../../Js/scriptsPadrao.js?d=@DateTime.Now.Ticks"></script>

    <script type="text/javascript" src="../../Js/Ajax/AjaxCompra.js?d=@DateTime.Now.Ticks"></script>
    <script type="text/javascript" src="../../Js/Ajax/AjaxPagamento.js?d=@DateTime.Now.Ticks"></script>
    <script type="text/javascript" src="../../Js/Ajax/AjaxShop.js?d=@DateTime.Now.Ticks"></script>
    <script type="text/javascript" src="../../Js/Ajax/AjaxProduto.js?d=@DateTime.Now.Ticks"></script>
    <script type="text/javascript" src="../../Js/Ajax/AjaxUsuario.js?d=@DateTime.Now.Ticks"></script>
    <script type="text/javascript" src="../../Js/Ajax/funcoesAjax.js?d=@DateTime.Now.Ticks"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/materialize.min.js"></script>

    @RenderSection("scripts", required: false)
    @RenderBody()
</body>
</html>
