@model CandyShop.Application.ViewModels.ProdutoViewModel

@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="../../Content/Produto/desativarProduto.css?d=@DateTime.Now.Ticks"/>

<div class="corpo left">
    <div class="col s12">
        <h4 class="center batata pink-text">Desativar Produto</h4>
        <p>Tem certeza que deseja desativar este produto?</p>
        <div class="left">

            <hr />
            @{ var nomeA = @Model.IdProduto + "_A.jpg";}
            @{ var nomeB = @Model.IdProduto + "_B.jpg";}
            @{ var nomeC = @Model.IdProduto + "_C.jpg";}

            <img src="@TempData["caminhoImagensProdutos"]/@nomeA?d=@DateTime.Now.Ticks"/>
            <img src="@TempData["caminhoImagensProdutos"]/@nomeB?d=@DateTime.Now.Ticks"/>
            <img src="@TempData["caminhoImagensProdutos"]/@nomeC?d=@DateTime.Now.Ticks"/>
            <dl class="dl-horizontal">
                <dt>
                    ID:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IdProduto)
                </dd>

                <dt>
                    Nome do Produto:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NomeProduto)
                </dd>

                <dt>
                    Preco do Produto:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PrecoProduto)
                </dd>

                <dt>
                    Quantidade em estoque:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.QtdeProduto)
                </dd>

                <dt>
                    Categoria:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Categoria)
                </dd>

            </dl>

            <div class="row">
                <a class="waves-effect waves-light btn-large" onclick="AjaxJsProduto.listaProduto()"><i class="material-icons left">arrow_back</i>Voltar</a>
                <a class="waves-effect waves-light btn-large" onclick="AjaxJsProduto.desativarProdutoConfirmado(@Model.IdProduto)"><i class="material-icons left">delete</i>Excluir</a>
            </div>
        </div>
    </div>
</div>

