@model CandyShop.Application.ViewModels.ProdutoViewModel

@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="../../Content/Produto/detalheProduto.css?d=@DateTime.Now.Ticks" />

<div class="corpo left">
    <h4 class="pink-text">Detalhes do Produto</h4>
    <hr />
    <div class="col s12">
        <dl class="dl-horizontal">
            @{ var nomeA = @Model.IdProduto + "_A.jpg";}
            @{ var nomeB = @Model.IdProduto + "_B.jpg";}
            @{ var nomeC = @Model.IdProduto + "_C.jpg";}

            <img src="@TempData["caminhoImagensProdutos"]/@nomeA?d=@DateTime.Now.Ticks" />
            <img src="@TempData["caminhoImagensProdutos"]/@nomeB?d=@DateTime.Now.Ticks" />
            <img src="@TempData["caminhoImagensProdutos"]/@nomeC?d=@DateTime.Now.Ticks" />

            <dt>
                ID:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdProduto)
            </dd>

            <dt>
                Nome:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomeProduto)
            </dd>

            <dt>
                Preco:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrecoProduto)
            </dd>


            <dt>
                Categoria:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria)
            </dd>

            <dt>
                Qtde:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QtdeProduto)
            </dd>

            <dt>
                Status do Produto:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ativo)
            </dd>
        </dl>

        <a class="waves-effect waves-light btn" onclick="AjaxJsProduto.listaProduto()"><i class="material-icons left">arrow_back</i>Voltar</a>
    </div>
</div>


