@model CandyShop.Application.ViewModels.ProdutoViewModel

@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="../../Content/Produto/detalheProduto.css"/>

<div class="corpo left">    
    <h4><font color="brown">Detalhes</font><font color="red"> do Produto :</font></h4>
    <hr/>
    <div class="col s12">
        <dl class="dl-horizontal">
            <dt>
                ID:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdProduto)
            </dd>

            <dt>
                Nome:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomeProduto)
            </dd>

            <dt>
                Preco:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrecoProduto)
            </dd>
            

            <dt>
                Categoria: 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria)
            </dd>

            <dt>
                Qtde:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QtdeProduto)
            </dd>
            
            <dt>
                Status do Produto:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ativo)
            </dd>
        </dl>

        <a class="waves-effect waves-light btn" onclick="AjaxJs.listaProduto()"><i class="material-icons left">arrow_back</i>Voltar</a>
    </div>
</div>


