@model IEnumerable<CandyShop.Application.ViewModels.Produto>

@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="../../Content/Produto/indexProduto.css"/>

<div class="col s12 recuaTabela">
    <table class="bordered highlight">
        <tr>
            <th>
                Nome
            </th>
            <th>
                Preço
            </th>
            <th>
                Qtde em estoque
            </th>
            <th>Categoria</th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecoProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    <a class="btn-floating btn-sm waves-effect waves-light brown" onclick="AjaxJs.detalheProduto(@item.IdProduto);"><i class="material-icons">info_outline</i></a>
                </td>
                <td>
                    <a class="btn-floating btn-sm waves-effect waves-light orange" onclick="AjaxJs.editarProduto(@item.IdProduto);"><i class="material-icons">edit</i></a>
                </td>
                <td>
                    <a class="btn-floating btn-sm waves-effect waves-light red" onclick="AjaxJs.desativarProduto(@item.IdProduto);"><i class="material-icons">remove_shopping_cart</i></a>
                </td>
            </tr>
            }
    </table>
    
    <div class="gridCelular">
        <ul class="collapsible" data-collapsible="accordion">
            @foreach (var produto in Model)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons red">bubble_chart</i>@produto.NomeProduto
                    </div>
                    <div class="collapsible-body">
                        <span>Preço: R$ @produto.PrecoProduto</span>
                        <br />
                        <span>Quantidade: @produto.QtdeProduto</span>
                        <br />
                        <span>Categoria: @produto.Categoria</span>
                        <br /><br />
                        <a class="btn-floating btn-sm waves-effect waves-light brown" onclick="AjaxJs.detalheUsuario(@produto.IdProduto);"><i class="material-icons red">info_outline</i></a>
                        <a class="btn-floating btn-sm waves-effect waves-light orange" onclick="AjaxJs.editarProduto(@produto.IdProduto);"><i class="material-icons red">edit</i></a>
                        <a class="btn-floating btn-sm waves-effect waves-light red" onclick="AjaxJs.desativarProduto(@produto.IdProduto);"><i class="material-icons red">remove_shopping_cart</i></a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>



