@model IEnumerable<CandyShop.Application.ViewModels.Produto>

@{
    Layout = null;
}

<div class="col s12 recuaTabela">
    <table class="bordered highlight">
        <tr>
            <th>
                Nome
            </th>
            <th>
                Preço
            </th>
            <th>
                Qtde em estoque
            </th>
            <th>Categoria</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecoProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    <a class="btn-floating btn-sm waves-effect waves-light blue darken-1" onclick="AjaxJs.detalheProduto(@item.IdProduto);"><i class="material-icons">info_outline</i></a>
                </td>
                <td>
                    <a class="btn-floating btn-sm waves-effect waves-light orange" onclick="AjaxJs.editarProduto(@item.IdProduto);"><i class="material-icons">edit</i></a>
                </td>
                <td>
                    @*<a class="btn-floating btn-sm waves-effect waves-light red" onclick="AjaxJs.desativarProduto(@item.IdProduto);"><i class="material-icons">remove_shopping_cart</i></a>*@
                </td>
            </tr>
        }
    </table>
    
    <div class="gridCelular">
        <ul class="collapsible" data-collapsible="accordion">
            @foreach (var produto in Model)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">bubble_chart</i>@produto.NomeProduto
                    </div>
                    <div class="collapsible-body">
                        <span>Preço: R$ @produto.PrecoProduto</span>
                        <br />
                        <span>Quantidade: R$ @produto.QtdeProduto</span>
                        <br />
                        <span>Categoria: R$ @produto.Categoria</span>
                        <br /><br />
                        <a class="btn-floating btn-sm waves-effect waves-light blue darken-1" onclick="AjaxJs.detalheUsuario('@produto.IdProduto');"><i class="material-icons">info_outline</i></a>
                        <a class="btn-floating btn-sm waves-effect waves-light orange" onclick="AjaxJs.editarProduto('@produto.IdProduto');"><i class="material-icons">edit</i></a>
                        @*<a class="btn-floating btn-sm waves-effect waves-light red" onclick="AjaxJs.excluirUsuario('@produto.IdProduto');"><i class="material-icons">remove_shopping_cart</i></a>*@
                    </div>
                </li>
            }
        </ul>
    </div>
</div>


<style>
    tr {
        color: black;
    }
</style>

<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>